.sectionContainer {
    width: 100%;
    position: relative;
    padding: 100px 0px 250px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to top, #e9f1ff, #fff);
}

.headerContainer {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.searchBarContainer {
    width: 380px;
    margin-bottom: 40px;
}

.searchBar {
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #fff;
    color: #7b7b7b;
    font-weight: 200;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.searchBar>svg {
    width: 20px;
    height: 20px;
}

.title {
    font-size: 23px;
    line-height: 35px;
    font-weight: 300;
    margin-bottom: 15px;
    font-style: italic;
}

.title span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    font-style: italic;
    letter-spacing: 2px;
}
.underline {
    position: absolute;
    width: 270px;
        height: 3px;
        bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 119, 255, 0.565);
    z-index: 10;
}

.subtitle {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.imagesContainer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.leftImage,
.rightImage {
    width: 280px;
    height: 280px;
}